body {
    margin-top: 10rem;
    background: #7CAEC2;
    background: linear-gradient(90deg, rgba(124, 174, 194, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(124, 174, 194, 1) 100%);
  }

.hero {
    height: 75rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hero-container h1 {
    font-size: 10rem;
    color: #111111;
    margin-top: 10rem;
    margin-bottom: 3rem;
}

.hero-container p {
    font-size: 2rem;
    color: #111111;
}

.plans-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 10rem;
    gap: 5rem;
    background-color: rgba(17, 24, 39, 0.5);
    border-radius: 2rem;
}

.card {
  margin: 5rem;
  height: 60rem;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 320px;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  background-color: #111111;
  padding: 1.5rem;
}

.header {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #fff
}

.price {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
  color: #fff
}

.desc {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  line-height: 1.625;
  color: rgba(156, 163, 175, 1);
}

.lists {
  margin-top: 25rem;
  margin-bottom: 1.5rem;
  flex: 1 1 0%;
  color: rgba(156, 163, 175, 1);
}

.lists .list {
  margin-bottom: 0.5rem;
  display: flex;
  margin-left: 0.5rem
}

.lists .list svg {
  height: 1.5rem;
  width: 1.5rem;
  flex-shrink: 0;
  margin-right: 0.5rem;
  color: rgba(167, 139, 250, 1);
}

.action {
  height: 5rem;
  border: none;
  outline: none;
  display: inline-block;
  border-radius: 2rem;
  background-color: rgba(124, 174, 194, 1);
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: rgba(17, 24, 39, 1);
}

.action:hover {
  background-color: rgb(96, 123, 134);
}

/* From Uiverse.io by csemszepp */ 
@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}


.plans {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #7CAEC2;
  background: linear-gradient(90deg, rgba(124, 174, 194, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(124, 174, 194, 1) 100%);
}

img {
  width: 100rem;
  height: 100rem;

}